html {
  scroll-behavior: smooth;
}

body {
  min-width: 1400px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  letter-spacing: -0.03em;
  color: #ffffff;
  background-color: #000000;
}

header {
  height: 788px;
  background-image: url("../resources/caffee-house.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  margin-bottom: 250px;
}

.wrapper-logo {
  width: 190px;
  height: 57px;
  margin: 36px 475px 0 123px;
  position: relative;
  background-image: url("../resources/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
}

.wrapper-logo__text {
  padding-left: 5px;
  position: absolute;
  color: #1bff07;
  font-size: 42.41px;
  font-weight: 700;
  line-height: 55px;
}

.nav-link-list {
  display: inline-block;
  vertical-align: top;
  margin-top: 36px;
}

.link {
  display: inline-block;
}

.nav-link {
  color: #ffff;
  font-size: 18px;
  text-decoration: none;
  padding-right: 50px;
}

.nav-link:hover {
  color: #1bff07;
}

p {
  font-size: 22px;
  line-height: 29px;
}

.about-me {
  margin-bottom: 29px;
  margin-left: 125px;
  width: 430px;
  height: 103px;
  color: #ffff;
  font-size: 20px;
  line-height: 26px;
}

h1 {
  margin-left: 119px;
  width: 1000px;
  height: 205px;
  color: #1bff07;
  font-size: 80px;
  font-weight: 400;
  line-height: 70px;
}

.projects {
  margin: 150px 125px 150px 125px;
}

h2 {
  padding-bottom: 41px;
  font-size: 55px;
  line-height: 72px;
}

.project-realhome,
.project-glass,
.project-fesiyen {
  height: 550px;
  background-image: url(../resources/realhome-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.project-glass {
  background-image: url(../resources/glass-img.png);
}

.project-fesiyen {
  background-image: url(../resources/fesiyen-img.png);
  margin-bottom: 80px;
}

h3 {
  font-size: 35px;
  line-height: 46px;
}

.projects h3 {
  position: absolute;
  bottom: 94px;
  margin-left: 50px;
}

.projects h4 {
  position: absolute;
  bottom: 50px;
  margin-left: 50px;
  font-size: 30px;
  line-height: 39px;
}

.all-projects {
  display: block;
  width: 582px;
  height: 153px;
  background-color: #1bff07;
  border-radius: 10px;
  border: 1px solid #1bff07;
  color: #000000;
  font-size: 30px;
  line-height: 153px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.all-projects:hover {
  background-color: #000000;
  color: #1bff07;
}

.competencies {
  margin-left: 123px;
  margin-right: 499px;
}

.competencies h2 {
  margin-bottom: 49px;
}

img {
  margin-left: 2px;
  margin-bottom: 16px;
  width: 45px;
  height: 44px;
}

.competencies h3 {
  color: #1bff07;
  margin-bottom: 15px;
}

.competencies li:last-child h3 {
  width: 651px;
}

.competencies p {
  margin-bottom: 60px;
  width: 778px;
}
