html {
  scroll-behavior: smooth;
}

body {
  min-width: 1400px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #000000;
}

h1,
h2,
h3,
h4,
a,
p {
  letter-spacing: -0.03em;
}

header {
  height: 788px;
  background-image: url("../resources/caffee-house.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav {
  margin-bottom: 242px;
}

.wrapper-logo {
  width: 190px;
  height: 57px;
  margin: 36px 451px 0 123px;
  position: relative;
  background-image: url("../resources/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
}

.wrapper-logo__text {
  padding-left: 5px;
  position: absolute;
  color: #1bff07;
  font-size: 42.41px;
  font-weight: 700;
  line-height: 55px;
}

.nav-link-list {
  display: inline-block;
  vertical-align: top;
  margin-top: 36px;
}

.link {
  display: inline-block;
}

.nav-link {
  color: #ffff;
  font-size: 18px;
  text-decoration: none;
  padding-right: 41px;
}

.nav-link:hover {
  color: #1bff07;
}

#portfolio-link,
#competencies-link,
#tasks-link,
#contacts-link,
#projects-link {
  scroll-margin-top: 15vh;
}

p {
  font-size: 22px;
  line-height: 29px;
}

.about-me {
  margin-bottom: 29px;
  margin-left: 125px;
  width: 430px;
  height: 103px;
  color: #ffff;
  font-size: 20px;
  line-height: 26px;
}

h1 {
  margin-left: 119px;
  width: 1000px;
  height: 205px;
  color: #1bff07;
  font-size: 80px;
  font-weight: 400;
  line-height: 70px;
}

.projects {
  margin: 127px 166px 150px 125px;
}

h2 {
  padding-bottom: 41px;
  font-size: 55px;
  line-height: 72px;
}

.projects h2 {
  margin-left: -4px;
}

.project-realhome,
.project-glass,
.project-fesiyen {
  height: 550px;
  background-image: url(../resources/realhome-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 0px 0px 30px 30px;
}

.project-glass {
  background-image: url(../resources/glass-img.png);
}

.project-fesiyen {
  background-image: url(../resources/fesiyen-img.png);
  margin-bottom: 80px;
}

h3 {
  font-size: 35px;
  line-height: 46px;
}

.projects h3 {
  position: absolute;
  bottom: 94px;
  margin-left: 50px;
}

.projects h4 {
  position: absolute;
  bottom: 50px;
  margin-left: 50px;
  font-size: 30px;
  line-height: 39px;
}

.all-projects {
  display: block;
  width: 578px;
  height: 150px;
  background-color: #1bff07;
  border-radius: 10px;
  border: 1px solid #1bff07;
  color: #000000;
  font-size: 30px;
  line-height: 148px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.all-projects:hover {
  background-color: #000000;
  color: #1bff07;
}

.competencies,
.tasks {
  margin: 0 499px 155px 123px;
}

.competencies h2 {
  margin-bottom: 7px;
}

.competencies img {
  margin-left: 2px;
  margin-bottom: 12px;
  width: 45px;
  height: 44px;
}

.competencies h3 {
  color: #1bff07;
  margin-bottom: 15px;
}

.competencies li:last-child h3 {
  width: 651px;
}

.competencies p {
  margin-bottom: 60px;
  width: 776px;
}

.tasks {
  margin-right: 125px;
  margin-bottom: 147px;
}

.tasks h2 {
  margin-bottom: 32px;
  width: 415px;
  font-size: 35px;
  line-height: 46px;
}

.tasks li {
  margin-bottom: 74px;
}

.tasks li:nth-last-child(2) {
  margin-bottom: 134px;
}

.tasks img {
  width: 1150px;
  height: 200px;
}

.wrapper-text {
  width: 1150px;
  height: 283px;
  background-color: #191c19;
  border-radius: 30px;
}

.tasks h3 {
  padding: 36px 0 16px 40px;
  color: #1bff07;
  font-size: 55px;
  line-height: 72px;
}

.tasks p {
  margin: 0 373px 0 40px;
}

address {
  margin-bottom: 150px;
  position: relative;
  background-color: #191c19;
  border-radius: 30px;
  padding: 0;
  height: 717px;
  overflow: hidden;
  font-family: Manrope;
}

.wrapper {
  margin-top: 320px;
  margin-left: 123px;
  position: relative;
  z-index: 2;
}

address h2 {
  font-size: 35px;
  line-height: 60px;
}

address a {
  margin-bottom: 19px;
  width: 275px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: IBM Plex Mono;
  font-size: 36.27px;
  font-weight: 400;
  line-height: 36.27px;
}

address a:hover {
  color: #1bff07;
}

address img {
  position: absolute;
  right: 0;
  top: 0;
  width: 717px;
  object-fit: cover;
  border-radius: 30px;
  z-index: 1;
}

footer {
  padding-left: 125px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 30px 30px 0 0;
}

footer h2 {
  padding-top: 76px;
  padding-bottom: 66px;
  font-size: 22px;
  line-height: 30px;
}

footer p {
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 27px;
}
