@media (max-width: 1199px) {
  body {
    width: 100%;
  }

  header {
    background-image: url(../resources/caffee-house__tablet.png);
  }

  .container {
    padding-top: 32px;
    margin-left: 10px;
    margin-right: 15px;
  }

  .nav {
    margin-bottom: 297px;
  }

  .wrapper-logo {
    margin-top: 0;
    margin-left: 3px;
  }

  .nav-link-list {
    display: none;
  }

  .about-me {
    margin-left: 5px;
  }

  h1 {
    width: 727px;
    font-size: 60px;
  }

  .burger-btn {
    position: absolute;
    display: block;
    top: 19px;
    right: 3px;
    width: 63px;
    height: 63px;
    background-image: url(../resources/burger__img.png);
    background-size: contain;
  }

  .burger-btn_open {
    width: 34px;
    height: 34px;
    top: 11px;
    right: 21px;
    z-index: 1;
    background-image: url(../resources/burger-close__img.png);
  }
}
