@media (max-width: 1199px) {
  body {
    width: 100%;
  }

  header {
    background-image: url(../resources/caffee-house__tablet.png);
  }

  .container {
    margin-left: 10px;
    margin-right: 15px;
  }

  .nav {
    padding-top: 32px;
    margin-bottom: 297px;
  }

  .wrapper-logo {
    margin-top: 0;
    margin-left: 3px;
  }

  .nav-link-list {
    display: none;
  }

  .about-me {
    margin-left: 5px;
  }

  h1 {
    width: 727px;
    font-size: 60px;
  }

  h2 {
    font-size: 45px;
    line-height: 58px;
  }

  .projects-text {
    margin-left: 0px;
    margin-bottom: 53px;
  }

  .fresh-projects {
    margin-bottom: 64px;
  }

  .project-sample {
    margin-left: 5px;
    height: 445px;
    width: 100%;
    border-radius: 24.26px;
  }

  .projects h3 {
    bottom: 76px;
    margin-left: 40px;
    font-size: 28px;
    line-height: 36px;
  }

  .projects h4 {
    bottom: 40px;
    margin-left: 40px;
    font-size: 24px;
    line-height: 31px;
  }

  .project-descript-wrapper {
    top: 40px;
    left: 40px;
    height: 38px;
    border-radius: 80.87px;
  }

  .wrapper-1 {
    left: 35px;
    width: 165px;
  }

  .wrapper-2 {
    width: 201px;
  }

  .wrapper-3 {
    width: 181px;
  }

  .project-descript {
    font-size: 16px;
    line-height: 22px;
  }

  .all-projects {
    margin-left: 5px;
    width: 460px;
    height: 124px;
    border-radius: 8.09px;
    font-size: 24.26px;
    line-height: 124px;
  }

  .compet-text {
    margin-bottom: 60px;
    margin-left: 3px;
  }

  .compet-list {
    row-gap: 36px;
  }

  .compet-header {
    font-size: 28px;
    line-height: 36px;
  }

  .compet-header-other {
    margin-bottom: 46px;
  }

  .compet-descript {
    font-size: 18px;
    line-height: 23px;
  }

  .tasks {
    margin-bottom: 110px;
  }

  .tasks-text {
    margin-bottom: 60px;
    margin-left: 5px;
    font-size: 28.3px;
    line-height: 37px;
  }

  .tasks-list {
    margin-left: 5px;
    row-gap: 32px;
  }

  .tasks img {
    height: 162px;
    width: 100%;
  }

  .tasks-wrapper {
    height: 100%;
    padding: 32px 36px 55px 32px;
  }

  .tasks-wrapper-header {
    width: calc(40%);
    font-size: 45px;
    line-height: 50px;
  }

  .tasks-wrapper-text {
    width: calc(44%);
    font-size: 18px;
    line-height: 23px;
  }

  .contacts {
    margin-bottom: 7px;
    margin-left: 15px;
    margin-right: 15px;
    height: 484px;
  }

  .contacts h2 {
    margin-bottom: 40px;
    width: 373px;
    font-size: 40px;
    line-height: 40.5px;
  }

  .order_from {
    width: 383px;
    row-gap: 17px;
  }

  .contacts-text {
    top: 50px;
  }

  .contacts .container {
    margin-left: 50px;
  }

  .contacts img {
    height: 506px;
    right: -144px;
  }

  .input {
    padding-left: 24px;
    height: 41px;
    font-size: 16px;
    line-height: 21px;
  }

  .send-form {
    margin-top: 23px;
    width: 304px;
    height: 47px;
    font-size: 16px;
    line-height: 21px;
  }

  .burger-btn {
    position: absolute;
    display: block;
    top: 19px;
    right: 3px;
    width: 63px;
    height: 63px;
    background-image: url(../resources/burger__img.png);
    background-size: contain;
  }

  .burger-btn_open {
    width: 34px;
    height: 34px;
    top: 11px;
    right: 21px;
    z-index: 2;
    background-image: url(../resources/burger-close__img.png);
  }
}
