@media (max-width: 1199px) {
  body {
    width: 100%;
  }

  header {
    background-image: url(../resources/caffee-house__tablet.png);
  }

  .header-inner {
    padding-top: 32px;
    margin-left: 10px;
    margin-right: 15px;
  }

  nav {
    margin-bottom: 297px;
  }

  .wrapper-logo {
    margin-top: 0;
    margin-left: 3px;
  }

  .nav-link-list {
    display: none;
  }

  .about-me {
    margin-left: 5px;
  }

  h1 {
    width: 727px;
    font-size: 60px;
  }
}
